<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateProductPlanOA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CreateProductPlanOA.Properties.Settings>
            <setting name="CreateProductPlanOA_WebReference_WorkflowService"
                serializeAs="String">
                <value>http://192.168.1.237:8888/services/WorkflowService</value>
            </setting>
        </CreateProductPlanOA.Properties.Settings>
    </applicationSettings>
</configuration>